@import '../../assets/sass/_mixins.sass'
@import '../../assets/sass/_variables.sass'

.btn
  border: none
  color: $white
  text-align: center
  vertical-align: middle

  +element('content')
    font-weight: 700

    *:not(.btn__content) ~ &
      margin-left: 10px

  +modifier('sm')
    padding: 4px 8px

  +modifier('md')
    padding: 8px 16px

  +modifier('lg')
    padding: 16px 32px

  +modifier('fluid')
    min-width: 100%

  +modifier('primary')
    background-color: $dodge-blue
    color: $white

  +modifier('success')
    background-color: $medium-sea-green
    color: $white

  +modifier('danger')
    background-color: $crimson
    color: $white

