@import '../../assets/sass/_mixins.sass'
@import '../../assets/sass/_variables.sass'

.icon
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  +element('text')
    +visually-hidden()

  +modifier('sm')
    font-size: 16px

  +modifier('md')
    font-size: 24px

  +modifier('lg')
    font-size: 32px

  /* icon views */
  +modifier('search')
    &:before
      content: '\e986'

  +modifier('arrow-right')
    &:before
      content: '\ea3c'

  +modifier('arrow-left')
    &:before
      content: '\ea40'
