@import './assets/sass/_variables.scss';

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $light-grey;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__search {
  position: relative;
}

.header__search-wrapper {
  position: relative;
}

.header__search-field {
  padding: 8px 12px;
  padding-left: 30px;
  border: 1px solid rgba($shark, 0.15);
  color: $black;
  background-color: $white;
}

.header__search-icon {
  position: absolute;
  top: calc(50% - 8px);
  left: 7px;
  height: 16px;
  width: 16px;
  fill: $french-grey;
}

.header__search-results {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 33px;
  left: 0;
  right: 0;
  z-index: $popup-z-index;
  background-color: $light-grey;
  list-style: none;
  box-shadow: 0px 2px 4px 0 rgba($shark, 0.12), 0px 2px 10px 0px rgba($shark, 0.15);
}

.header__search-result-item {
  padding: 5px;
}

.header__search-result-item-text {
  margin: 0;
}

.header__event-form-field {
  margin-bottom: 10px;
}

.header__event-form-label {
  margin-bottom: 5px;
}
