@import '../../assets/sass/_mixins.sass'

.h-spacing
  display: block

  +modifier('inline')
    display: inline-block

  +modifier('vertical-sm')
    &-both
      margin-top: 5px
      margin-bottom: 5px

    &-top
      margin-top: 5px

    &-bottom
      margin-bottom: 5px

  +modifier('horizontal-sm')
    &-both
      margin-right: 5px
      margin-left: 5px

    &-right
      margin-right: 5px

    &-left
      margin-left: 5px

  +modifier('vertical-md')
    &-both
      margin-top: 10px
      margin-bottom: 10px

    &-top
      margin-top: 10px

    &-bottom
      margin-bottom: 10px

  +modifier('horizontal-md')
    &-both
      margin-right: 10px
      margin-left: 10px

    &-right
      margin-right: 10px

    &-left
      margin-left: 10px

  +modifier('vertical-lg')
    &-both
      margin-top: 20px
      margin-bottom: 20px

    &-top
      margin-top: 20px

    &-bottom
      margin-bottom: 20px

  +modifier('horizontal-lg')
    &-both
      margin-right: 20px
      margin-left: 20px

    &-right
      margin-right: 20px

    &-left
      margin-left: 20px
