.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 300px;
  max-width: 100%;
}

.pagination__content {
  width: 140px;
  flex-shrink: 0;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.pagination__control-icon{
  height: 16px;
  width: 16px;
}
