=box-sizing($box-model: content-box)
  box-sizing: $box-model

=element($element)
  &__#{$element}
    @content

=modifier($modifier)
  &--#{$modifier}
    @content

=push-auto()
  margin-left: auto
  margin-right: auto

  // $style, $path, , $local
=font-face($family, $path, $local, $style, $weight)
  @font-face
    font-family: $family
    src: local($family), local($local), url($path) format('woff2')
    font-style: $style
    font-weight: $weight

=visually-hidden()
  position: absolute
  height: 1px
  width: 1px
  margin: -1px
  padding: 0
  border: 0
  clip: rect(0 0 0 0)
  overflow: hidden





