/* fonts */
$base-font-size: 16px;

/* colors */
$light-grey: #f0f0f0;
$dodge-blue: #1e90ff;
$crimson: #dc143c;
$medium-sea-green: #3cb371;
$white: #ffffff;
$thistle: #d8bfd8;
$dimgray: #696969;
$black: #000000;
$iron: #d4d4d5;
$shark: #222426;
$french-grey: #bababc;
$salmon: #fa8072;

$popup-z-index: 5;

/* media */
$breakpointExtraLarge: 'screen and (max-width: 1400px)';
$breakpointLarge: 'screen and (max-width: 1200px)';
$breakpointExtraMiddle: 'screen and (max-width: 1000px)';
$breakpointMiddle: 'screen and (max-width: 800px)';
$breakpointExtraSmall: 'screen and (max-width: 600px)';
$breakpointSmall: 'screen and (max-width: 400px)';
